<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_png"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FISH2LOCALS"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon"
        tools:targetApi="31">
        <activity
            android:name=".Sellers_Order_To_Ship_Fragment"
            android:exported="false" />
        <activity
            android:name=".about_us_page"
            android:exported="false" />
        <activity
            android:name=".view_privacy_and_policy_page"
            android:exported="false" />
        <activity
            android:name=".seller_statistics_page"
            android:exported="false" />
        <activity
            android:name=".view_store_page2"
            android:exported="false" />
        <activity
            android:name=".place_order_page2"
            android:exported="false" />
        <activity
            android:name=".add_to_basket_page2"
            android:exported="false" />
        <activity
            android:name=".view_photo_fullscreen_page"
            android:exported="false" />
        <activity
            android:name=".add_photos_page"
            android:exported="false" />
        <activity
            android:name=".view_stores_of_best_sellers_page"
            android:exported="false" />
        <activity
            android:name=".rate_buyer_page"
            android:exported="false" />
        <activity
            android:name=".edit_product_page"
            android:exported="false" />
        <activity
            android:name=".seller_order_details_page"
            android:exported="false" />
        <activity
            android:name=".sellers_order_page"
            android:exported="false" />
        <activity
            android:name=".add_to_basket_page"
            android:exported="false" />
        <activity
            android:name=".rate_store_seller_page"
            android:exported="false" />
        <activity
            android:name=".order_details_page"
            android:exported="false" />
        <activity
            android:name=".view_my_order_page"
            android:exported="false" />
        <activity
            android:name=".order_summary_page"
            android:exported="false" />
        <activity
            android:name=".place_order_page"
            android:exported="false" />
        <activity
            android:name=".my_basket_page"
            android:exported="false" />
        <activity
            android:name=".search_page"
            android:exported="false" />
        <activity
            android:name=".view_all_stores"
            android:exported="false" />
        <activity
            android:name=".edit_store_page"
            android:exported="false" />
        <activity
            android:name=".add_funds_page"
            android:exported="false" />
        <activity
            android:name=".view_my_wallet_page"
            android:exported="false" />
        <activity
            android:name=".chat_activity_page"
            android:exported="false" />
        <activity
            android:name=".view_my_bookmarks_page"
            android:exported="false" />
        <activity
            android:name=".view_my_products_page"
            android:exported="false" />
        <activity
            android:name=".view_store_page"
            android:exported="false" />
        <activity
            android:name=".change_password_page"
            android:exported="false" />
        <activity
            android:name=".view_ratings_page"
            android:exported="false" />
        <activity
            android:name=".edit_profile_page"
            android:exported="false" />
        <activity
            android:name=".marketplace_page"
            android:exported="false" />
        <activity
            android:name=".seller_homepage"
            android:exported="false" />
        <activity
            android:name=".seller_application"
            android:exported="false" />
        <activity
            android:name=".homepage"
            android:exported="false" />
        <activity
            android:name=".sign_up_page"
            android:exported="false" />
        <activity
            android:name=".login_page"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQdaPd6EyJuLoDMLGHX2vNLL18a8kdRH8" />

        <activity
            android:name=".intro_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>